{% extends 'base.html.twig' %}

{% block title %}
    La liste des souhaits | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Ma liste de souhaits</h1>

    {% for souhait in souhaits %}
        <div class="listeSouhaits">
            <ul>
                <li><a href="{{ path('wish_details', {'id': souhait.id}) }}"
                   title="Details du Souhait">{{ souhait.title }} | [ {{ souhait.categorie.name }} ]</a></li>
            </ul>
        </div>

    {% endfor %}

{% endblock %}
