{% extends 'base.html.twig' %}

{% block title %}
    La liste des souhaits | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Ma liste de souhaits</h1>

    {% for souhait in souhaits %}
        <div>
            <h3><a href="{{ path('wish_details', {'id': souhait.id}) }}" title="Details du Souhait">{{ souhait.title }}</a> </h3>
        </div>

    {% endfor %}

{% endblock %}